.postIt{
    position: relative;
    padding: 1.5rem;
    transform-origin:50% -10px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    min-width: 220px;
    transition: transform 0.2s ease;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.6s ease;

    &:hover {
        transform: rotate(4deg) translate(-2px);
        box-shadow: 6px 12px 20px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
}

.pin{
    position: absolute;
    top:-12px;
    left: 50%;
    transform: translateX(-50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--color-ping, #ef4444);
    opacity: 0.9;
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.4),
     inset 4px 4px 7px rgba(255, 255, 255, 0.6),
     2px 5px 6px rgba(0,0,0,0.5);
    &::after{
        content: '';
        position: absolute;
        top:20%;
        left:20%;
        width: 40%;
        height: 40%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.9);
        filter: blur(1.5px);
    }
}

.title{
    font-family: var(--fuente-lapiz);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-texto);
    opacity: 0.8;
}

.value{
    font-family: var(--fuente-lapiz);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-texto);
    line-height: 1;
}

.line{
    background-image: repeating-linear-gradient(
        transparent,
        transparent 24px,
        rgba(0,0,0,0.1) 25px
    );
    padding-top: 2rem;
}

.yellow{background-color: var(--post-amarillo);}
.blue{background-color: var(--post-azul);}
.green{background-color: var(--post-verde);}
.red{background-color: var(--post-rojo);}
.purple{background-color: var(--post-morado);}

/*Animacion Basica de una brisa*/
/*@keyframes breeze{
    0%{transform: rotate(0deg); box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);}
    20%{transform: rotate(3deg); box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.25);}
    50%{transform: rotate(0deg); box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.3);}
    75%{transform: rotate(-3deg); box-shadow: -5px 8px 15px rgba(0, 0, 0, 0.25);}
    100%{transform: rotate(0deg); box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);}
}*/