@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
  /*Fuente Principal*/
  --fuente-lapiz: 'Caveat', cursive;
  /* Colores de la intefaz */
  --Color-Madera-Oscura:#5d3a1a;
  --Color-Madera-Clara:#8b5a2b;
  --color-crema:#fdf8e7;
  --color-texto:#333333;
  /* Colores de los Posits*/
  --post-rojo:#ffd6d6;
  --post-azul:#d6e0ff;
  --post-verde:#d6ffd6;
  --post-amarillo:#fff5d6;
  --post-morado:#e6d6ff;
  /*Color del Ping*/
  --color-ping:#ef4444;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: var(--color-texto);
  background-color: #a67c52;
  background-image: url('/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  padding: 0;
}
